/NarakaWidescreenSupport/bin/Debug/net6.0-windows/NarakaWidescreenSupport.deps.json
/NarakaWidescreenSupport/bin/Debug/net6.0-windows/NarakaWidescreenSupport.dll
/NarakaWidescreenSupport/bin/Debug/net6.0-windows/NarakaWidescreenSupport.dll.config
/NarakaWidescreenSupport/bin/Debug/net6.0-windows/NarakaWidescreenSupport.exe
/NarakaWidescreenSupport/bin/Debug/net6.0-windows/NarakaWidescreenSupport.pdb
/NarakaWidescreenSupport/bin/Debug/net6.0-windows/NarakaWidescreenSupport.runtimeconfig.json
/NarakaWidescreenSupport/bin/Debug/net6.0-windows/NarakaWidescreenSupport-Settings.json
